#userName {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#inputPasswordR {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


#inputPassword, #inputEmailR, #inputEmail{
  margin-top: -1px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
