      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>Selected Topic: Subtopic <button type="button" class="btn btn-primary" disabled>Post</button></h1>

        <br /><div class="card">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum id sem vel luctus. Phasellus et metus luctus, eleifend eros in, pretium ex. Donec eget ante eleifend, convallis enim sit amet, porta magna. Nullam semper elit in turpis dictum aliquet.
            Sed scelerisque urna sed semper consequat. Suspendisse pulvinar, leo at bibendum venenatis, nisi risus sollicitudin nunc, vitae ultrices sem arcu at neque. Cras erat metus, ultrices ac vehicula vel, interdum id orci. Mauris nec felis et lorem
            faucibus imperdiet.
          </div>
          <div class="card-header">
            <div class="pull-left">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 10000
              <i class="fa fa-thumbs-down" aria-hidden="true"></i> 200
            </div>
            <div class="pull-right">
              <p class="font-italic text-right">24.08.2006 17:33 <a href="#" class="ml-sm-2 badge badge-warning">mr. sir alchemistake</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum id sem vel luctus. Phasellus et metus luctus, eleifend eros in, pretium ex. Donec eget ante eleifend, convallis enim sit amet, porta magna. Nullam semper elit in turpis dictum aliquet.
            Sed scelerisque urna sed semper consequat. Suspendisse pulvinar, leo at bibendum venenatis, nisi risus sollicitudin nunc, vitae ultrices sem arcu at neque. Cras erat metus, ultrices ac vehicula vel, interdum id orci. Mauris nec felis et lorem
            faucibus imperdiet.
          </div>
          <div class="card-header">
            <div class="pull-left">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 10000
              <i class="fa fa-thumbs-down" aria-hidden="true"></i> 200
            </div>
            <div class="pull-right">
              <p class="font-italic text-right">24.08.2006 17:33 <a href="#" class="ml-sm-2 badge badge-warning">mr. sir alchemistake</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum id sem vel luctus. Phasellus et metus luctus, eleifend eros in, pretium ex. Donec eget ante eleifend, convallis enim sit amet, porta magna. Nullam semper elit in turpis dictum aliquet.
            Sed scelerisque urna sed semper consequat. Suspendisse pulvinar, leo at bibendum venenatis, nisi risus sollicitudin nunc, vitae ultrices sem arcu at neque. Cras erat metus, ultrices ac vehicula vel, interdum id orci. Mauris nec felis et lorem
            faucibus imperdiet.
          </div>
          <div class="card-header">
            <div class="pull-left">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 10000
              <i class="fa fa-thumbs-down" aria-hidden="true"></i> 200
            </div>
            <div class="pull-right">
              <p class="font-italic text-right">24.08.2006 17:33 <a href="#" class="ml-sm-2 badge badge-warning">mr. sir alchemistake</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum id sem vel luctus. Phasellus et metus luctus, eleifend eros in, pretium ex. Donec eget ante eleifend, convallis enim sit amet, porta magna. Nullam semper elit in turpis dictum aliquet.
            Sed scelerisque urna sed semper consequat. Suspendisse pulvinar, leo at bibendum venenatis, nisi risus sollicitudin nunc, vitae ultrices sem arcu at neque. Cras erat metus, ultrices ac vehicula vel, interdum id orci. Mauris nec felis et lorem
            faucibus imperdiet.
          </div>
          <div class="card-header">
            <div class="pull-left">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 10000
              <i class="fa fa-thumbs-down" aria-hidden="true"></i> 200
            </div>
            <div class="pull-right">
              <p class="font-italic text-right">24.08.2006 17:33 <a href="#" class="ml-sm-2 badge badge-warning">mr. sir alchemistake</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum id sem vel luctus. Phasellus et metus luctus, eleifend eros in, pretium ex. Donec eget ante eleifend, convallis enim sit amet, porta magna. Nullam semper elit in turpis dictum aliquet.
            Sed scelerisque urna sed semper consequat. Suspendisse pulvinar, leo at bibendum venenatis, nisi risus sollicitudin nunc, vitae ultrices sem arcu at neque. Cras erat metus, ultrices ac vehicula vel, interdum id orci. Mauris nec felis et lorem
            faucibus imperdiet.
          </div>
          <div class="card-header">
            <div class="pull-left">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 10000
              <i class="fa fa-thumbs-down" aria-hidden="true"></i> 200
            </div>
            <div class="pull-right">
              <p class="font-italic text-right">24.08.2006 17:33 <a href="#" class="ml-sm-2 badge badge-warning">mr. sir alchemistake</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <br />
      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
  </script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>
