<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">--->

    <title>Dictator</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
{% if current_user.is_authenticated %}
    {% include  'navbar_logged_in.html' %}
{% else %}
    {% include  'navbar_not_logged_in.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        {% include  'sidebar.html' %}

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <h1>Users: {{ profile_name }}{% if current_user.is_authenticated %}
                {% if current_user.is_authenticated %}
                    {% if f %}
                        <button type="button" class="btn btn-primary mr-sm-2" onclick="unfollow()">Unfollow</button>
                    {% else %}
                        <button type="button" class="btn btn-primary mr-sm-2" onclick="follow()">Follow</button>
                    {% endif %}
                {% endif %}
                <form style="display:inline;" action="{{ url_for('ban') }}" method="post"><input type="text"
                                                                                                 name="to_ban"
                                                                                                 value="{{ profile_id }}"
                                                                                                 hidden><input
                        class="btn btn-danger mr-sm-2" type="submit" value="Block"/>
                </form>
                {% if current_user.data[4] >= 1 %}
                    <button type="button" class="btn btn-warning mr-sm-2" onclick="promote()">Promote</button>{% endif %}
                <a href="{{ url_for("dm",id=profile_id) }}">
                    <button type="button" class="btn btn-light mr-sm-2">Send Message</button>
                </a>
            {% endif %}</h1>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
<script>
    function follow() {
        jQuery.post("{{ url_for("follow") }}", {
            id: {{ profile_id }}
        }, function () {
            location.reload();
        });
    }


    function unfollow() {
        jQuery.post("{{ url_for("unfollow") }}", {
            id: {{ profile_id }}
        }, function () {
            location.reload();
        });
    }

    function promote() {
        jQuery.post("{{ url_for("promote") }}", {
            id: {{ profile_id }}
        }, function () {
            location.reload();
        });
    }
</script>
</html>
