<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dictator</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
{% if current_user.is_authenticated %}
    {% include  'navbar_logged_in.html' %}
{% else %}
    {% include  'navbar_not_logged_in.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        {% include  'sidebar.html' %}

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <h1>{{ active_topic }}</h1>
            <ul>
                {% for st in subtopics %}
                    <li>
                        <a href="{{ url_for("subtopic", topic_id=topic_id, subtopic_name=st[1]) }}">{{ st[1] }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if topic_id > 1 and current_user.is_authenticated and current_user.data[4] >= 1 %}
                <form class="input-group" action="{{ url_for("add_subtopic") }}" method="post">
                    <input type="text" hidden value="{{ topic_id }}" name="topic_id">
                    <input type="text" name="subtopic" class="form-control"
                           aria-label="Text input with segmented button dropdown">
                    <div class="input-group-btn">
                        <input type=submit class="btn btn-primary" value="Add Subtopic">
                    </div>
                </form>
            {% endif %}
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>

</html>
